PowerCadence/.vscode/browse.vc.db
.DS_Store
HeartRate.prg
internal-mir/
HeartRate.prg.debug.xml
mir/
HeartRate-settings.json
gen/
PowerCadence.prg
PowerCadence.prg.debug.xml
PowerCadence-settings.json
PowerCadence/CIQ_LOG.BAK
PowerBalance/bin/PowerBalance.iq
