<settings>
  <setting propertyKey="@Properties.pc_power"   title="@Strings.pc_power_title">
    <settingConfig type="numeric" />
  </setting>

  <setting propertyKey="@Properties.pc_cadence" title="@Strings.pc_cadence_title">
    <settingConfig type="numeric" />
  </setting>

  <setting propertyKey="@Properties.pc_duration" title="@Strings.pc_duration_title">
    <settingConfig type="numeric" />
  </setting>

  <setting propertyKey="@Properties.pc_alert" title="@Strings.pc_alert_title">
    <settingConfig type="boolean" />
  </setting>
</settings>