<settings>
  <!-- Heart Rate zone settings -->
  <setting propertyKey="@Properties.hr_zone4_interval_max_time" title="Zone 4 interval max time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone5_interval_max_time" title="Zone 5 interval max time (s)">
    <settingConfig type="numeric" />
  </setting>

  <setting propertyKey="@Properties.hr_zone4_interval_recovery_ref_zone_max" title="Zone 4 recovery reference zone max">
    <settingConfig type="list">
      <listEntry value="1">Zone 1</listEntry>
      <listEntry value="2">Zone 2 or lower</listEntry>
      <listEntry value="12">Zone 1 or 2</listEntry>
      <listEntry value="3">Zone 3 or lower</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.hr_zone5_interval_recovery_ref_zone_max" title="Zone 5 recovery reference zone max">
    <settingConfig type="list">
      <listEntry value="1">Zone 1</listEntry>
      <listEntry value="2">Zone 2 or lower</listEntry>
      <listEntry value="12">Zone 1 or 2</listEntry>
      <listEntry value="3">Zone 3 or lower</listEntry>
      <listEntry value="4">Zone 4 or lower</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.hr_zone4_interval_recovery_min_time" title="Zone 4 min recovery time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone5_interval_recovery_min_time" title="Zone 5 min recovery time (s)">
    <settingConfig type="numeric" />
  </setting>

  <setting propertyKey="@Properties.hr_zone1_max_time" title="Zone 1 max time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone1_alert" title="Zone 1 alerts on">
    <settingConfig type="boolean" />
  </setting>

  <setting propertyKey="@Properties.hr_zone2_max_time" title="Zone 2 max time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone2_alert" title="Zone 2 alerts on">
    <settingConfig type="boolean" />
  </setting>

  <setting propertyKey="@Properties.hr_zone3_max_time" title="Zone 3 max time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone3_alert" title="Zone 3 alerts on">
    <settingConfig type="boolean" />
  </setting>

  <setting propertyKey="@Properties.hr_zone4_max_time" title="Zone 4 max time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone4_alert" title="Zone 4 alerts on">
    <settingConfig type="boolean" />
  </setting>

  <setting propertyKey="@Properties.hr_zone5_max_time" title="Zone 5 max time (s)">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="@Properties.hr_zone5_alert" title="Zone 5 alerts on">
    <settingConfig type="boolean" />
  </setting>
</settings>
